<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="googlechrome" />
  <package id="git" />
  <package id="irfanview" />
  <package id="nvm" />
  <package id="vscode" />
  <package id="winmerge" />
  <package id="everything" />
  <package id="teraterm" />
  <package id="lhaplus" />
  <package id="dotnetcore-sdk" />
</packages>